.maincard-content {
  color:white;
}

.gcVfOm{
  background:#ffd9005c;
}
.bJbvm{
  background:#ffd9005d;
}
.bJbvm{
  background:silver;
}
.bwwNbd{}

.dQqPEO{
  font-size:1.25rem;
}
.dMgXMm{overflow:hidden; width:9.2rem;}
.geSXPi{
  background:#ffd9005c;
  border-radius:0.5rem;
  font-size:2rem;
  width:13rem;
}